/* GLOBAL STYLES */

body {
    background-color: hsl(0,0%,91%);
}

#vision-board {
    width: 1200px;
    height: 850px;
    margin: 50px auto;
    overflow: auto;
    background-image: url('../img/background.png');
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}

/* BLOCK STYLING */

.block {
    outline: 1px dashed hsl(322,100%,35%);
    float: left;
    box-sizing: border-box;
    width: 400px;
}

.small-block {
    height: 210px;
    padding: 20px 40px;
}

.large-block {
    height: 430px;
    padding: 70px 40px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

ul li {
    list-style: none;
    padding-right: 25px;
}